// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.podcaster__header {
  width: 100%;
  height: $header-height;

  &__title {
    font-weight: bold;
    margin-bottom: 5px;
  }
}