.episode {
  width: 100%;
  height: 100%;
  overflow: auto;

  &__box {
    @extend %box-shadow;
    padding: 15px;
    width: 96%;
    margin: 2px 15px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__content {
    font-style: italic;
    padding-bottom: 15px;
  }

  &__player {
    width: 100%;
    margin-top: 15px;
  }
}