.podcast {
  &__container {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
  }

  &__left-panel {
    width: 300px;
    height: 100%;
  }
  &__right-panel {
    width: 700px;
    height: 100%;
  }

  &__info-box {
    @extend %box-shadow;
    width: 250px;
    padding: 10px;
  }

  &__image {
    width: 160px;
    margin: 15px 35px;
  }

  &__title {
    font-weight: bold;
    margin-top: 15px;
  }

  &__author {
    font-style: italic;
    margin-bottom: 15px;
  }
}