// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  height: 100%;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $brand-color;
    text-decoration: none;
  }
}

.app {
  width: 1000px;
  margin: auto;
  height: 100%;

  &__content {
    height: calc(100% - #{$header-height});
  }
}

.podcaster__horizontal-bar {
  width: 100%;
  border-bottom: 1px solid $light-grey;
}

%box-shadow {
  border-radius: 4px;
  box-shadow: 0 3px 6px 3px $light-grey;
}
